<h3>Все карточки</h3>

<table class="table">
  <thead>
    <tr>
      <th>Оригинал</th>
      <th>Перевод</th>
      <th>Колода</th>
      <th>Дата пересмотра</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.deck.name %></td>
        <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
        <td><%= link_to "редактировать", edit_card_path(card),
                                         class: "btn btn-default" %></td>
        <td><%= link_to "удалить", card, method: :delete,
                                         data: { confirm: "Удалить?" },
                                         class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
