<h3><%= t("all_cards") %></h3>

<table class="table">
  <thead>
    <tr>
      <th><%= t("original") %></th>
      <th><%= t("translate") %></th>
      <th><%= t("deck") %></th>
      <th><%= t("review_date") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.deck.name %></td>
        <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
        <td><%= link_to t("edit"), edit_card_path(card),
                                         class: "btn btn-default" %></td>
        <td><%= link_to t("delete"), card, method: :delete,
                                         data: { confirm: t("are_you_sure") },
                                         class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
