<h3><%= t("card") %></h3>

<table>
  <tr>
    <th><%= t("image") %></th>
  </tr>
  <tr>
    <td><%= image_tag @card.image.url(:medium) %></td>
  </tr>
</table>

<table class="table-condensed">
  <tr>
    <td><b><%= t("original") %>:</b></td>
    <td><%= @card.original_text %></td>
  </tr>
  <tr>
    <td><b><%= t("translate") %>:</b></td>
    <td><%= @card.translated_text %></td>
  </tr>
  <tr>
    <td><b><%= t("review_date") %>:</b></td>
    <td><%= @card.review_date.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <td>
      <%= link_to t("edit"), edit_card_path(@card),
                                   class: "btn btn-default" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to t("delete"), @card, method: :delete,
                                    data: { confirm: t("are_you_sure") },
                                    class: "btn btn-default" %>
    </td>
  </tr>
</table>
