<h3><%= t("decks") %></h3>

<% if @decks.any? %>
  <table class="table-condensed">
    <% @decks.each do |deck|%>
      <tr>
        <td><%= link_to deck.name, deck_path(deck) %></td>
        <% if deck.id != current_user.current_deck_id%>
          <td><%= link_to t(".set_as_current"),
            set_current_deck_path(deck_id: deck.id),
            method: :put, class: "btn btn-default" %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><%= t(".no_decks_yet") %></p>
<% end %>
<br>
<%= link_to t(".add_deck"), new_deck_path, class: "btn btn-default"  %>
