<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <%= link_to t(".flashcarder"), root_path, class: "navbar-brand" %>
      <div>
        <ul class="nav pull-right navbar-nav">
          <li><%= link_to t("review_cards"), new_review_path %></li>
          <li><%= link_to t("all_cards"), cards_path %></li>
          <li><%= link_to t("add_card"), new_card_path %></li>
          <li><%= link_to t("decks"), decks_path %></li>
          <% if current_user %>
            <li><%= link_to t("profile"), profile_path %></li>
            <li><%= link_to t("signout"), :logout, method: :post %></li>
          <% else %>
            <li><%= link_to t("signup"), new_registration_path %></li>
            <li><%= link_to t("signin"), :login %></li>
            <li>
              <% if I18n.locale == I18n.default_locale %>
                <%= link_to "ru", url_for(:locale => 'ru') %>
              <% else %>
                <%= link_to "en", url_for(:locale => 'en') %>
              <%end%>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <section id="container">
    <% flash.each do |type, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{type}") %>
    <% end %>
    <%= yield %>
  </section>
</body>
</html>
