<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <%= link_to "Флэшкарточкер", root_path, class: "navbar-brand" %>
      <div>
        <ul class="nav pull-right navbar-nav">
          <li><%= link_to "Повторить карточки", new_review_path %></li>
          <li><%= link_to "Все карточки", cards_path %></li>
          <li><%= link_to "Добавить карточку", new_card_path %></li>
          <li><%= link_to "Колоды", decks_path %></li>
          <% if current_user %>
            <li><%= link_to "Профиль", profile_path %></li>
            <li><%= link_to "Выход", :logout, method: :post %></li>
          <% else %>
            <li><%= link_to "Регистрация", new_registration_path %></li>
            <li><%= link_to "Вход", :login %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <section id="container">
    <% flash.each do |type, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{type}") %>
    <% end %>
    <%= yield %>
  </section>
</body>
</html>
